@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: solid;
  border-color: lightgray;
  border-radius: 0.5rem;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

select {
  border: solid;
  border-color: lightgray;
  border-radius: 0.5rem;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.primer-dia {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    318deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 40%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.ultimo-dia {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    140deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 40%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.dia-compartido {
  background: rgb(255, 40, 40);
  background: linear-gradient(
    140deg,
    rgba(255, 40, 40, 1) 40%,
    rgba(255, 255, 255, 1) 48%,
    rgba(255, 255, 255, 1) 52%,
    rgba(255, 0, 0, 1) 60%
  );
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
